<section id="container">
    <header>
        <div id="logo">
            <h2>TOM KAMPHUIS</h2>
            <h4>SOFTWARE ENGINEER & WEBDEVELOPER</h4>
        </div>
        <ul class="socialicons">
            <li class="socials-text">More about me</li>
            <li><a href="http://tomkamphuis.blogspot.com" class="transition" title="Blogspot" target="_blank" onclick="sendAnalyticsData('Go to Blogspot')">&#x35;</a></li>
            <li><a href="https://www.github.com/tomkamphuis" class="transition" title="Github" target="_blank" onclick="sendAnalyticsData('Go to Github')">&#x33;</a></li>
            <li><a href="https://www.linkedin.com/in/tomkamphuis" class="transition" title="LinkedIn" target="_blank" onclick="sendAnalyticsData('Go to LinkedIn')">&#xe600;</a></li>
            <li><a href="https://twitter.com/tomkamphuis" class="transition" title="Twitter" target="_blank" onclick="sendAnalyticsData('Go to Twitter')">&#x2c;</a></li>
            <li><a href="https://www.facebook.com/tom.kamphuis" class="transition" title="Facebook" target="_blank" onclick="sendAnalyticsData('Go to Facebook')">&#x2a;</a></li>
        </ul>
    </header>
    <section id="content">
        <div id="profile">
            <div class="about">
                <div class="photo-inner">
                    <ul>
                        <li><img src="/Static/Images/photo.jpg" height="186" width="153" /></li>
                        <li><img src="/Static/Images/photo1.png" height="186" width="153" /></li>
                    </ul>
                </div>
                <h1>TOM KAMPHUIS</h1>
                <h3>SOFTWARE ENGINEER & WEBDEVELOPER</h3>
                <p>Software and the web are my passion. I spent my days building web applications with the newest internet technologies and I'm striving to use the latest and the best technologies in my work.</p>
            </div>
            <ul class="personal-info">
                <li><label>Name</label><span>Tom Kamphuis</span></li>
                <li><label>Birthday</label><span>July 7, 1983</span></li>
                <li><label>Address</label><span>Kerkstraat 22, Wierden<br />The Netherlands</span></li>
                <li><label>Email</label><span class="word-wrap">tom@tomkamphuis.nl</span></li>
                <li><label>Phone</label><span>On request</span></li>
                <li><label>Website</label><span class="word-wrap"><a href="#">www.tomkamphuis.nl</a></span></li>
            </ul>
        </div>
        <nav class="menu">
            <ul class="tabs">
                <li class="tmenu"><a href="#profile" class="tab-profile" onclick="sendAnalyticsData('Go to Profile')"><i>&#x43;</i>Profile</a></li>
                <li class="tmenu"><a href="#resume" onclick="sendAnalyticsData('Go to Resume')"><i>&#x3a;</i>Resume</a></li>
                <li class="tmenu"><a href="#portfolio" onclick="sendAnalyticsData('Go to Protfolio')"><i>&#x38;</i>Portfolio</a></li>
                <li class="tmenu"><a href="#contact" onclick="sendAnalyticsData('Go to Contact')"><i>&#x21;</i>Contact</a></li>
            </ul>
            <a class="prev" id="menu-prev" href="#">&#xe073;</a>
            <a class="next" id="menu-next" href="#">&#xe076;</a>
        </nav>
        <section id="resume">
            <div class="timeline-section">
                <h3 class="main-heading">Employment</h3>
                <ul class="timeline">
                    <li>
                        <div class="timelineUnit">
                            <h4>Owner & lead developer<span class="timelineDate">2012 - Present</span></h4>
                            <h5>Scholenvergelijken.nl</h5>
                            <p>Website for comparing secondary schools in the Netherlands. This website was built using ASP.NET MVC and Entity Framework.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timelineUnit">
                            <h4>Software engineer<span class="timelineDate">2011 - 2013</span></h4>
                            <h5>Mirabeau</h5>
                            <p>As a (senior) software engineer I worked for multiple accounts during my stay at Mirabeau. The accounts were <a href="http://www.funda.nl/" title="Funda" target="_blank">Funda</a>, <a href="http://www.transavia.com/" title="Transavia" target="_blank">Transavia</a> and <a href="http://www.dtg.nl/" title="DTG" target="_blank">DTG, previously known as De Telefoongids</a>.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timelineUnit">
                            <h4>Developer<span class="timelineDate">2007 - 2011</span></h4>
                            <h5>Design IT</h5>
                            <p>As a developer I worked for multiple accounts during my stay at Design IT. The accounts were <a href="http://www.geesa.nl/" title="Geesa" target="_blank">Geesa</a>, <a href="http://www.wolky.com/" title="Wolky" target="_blank">Wolky</a> and a couple of smaller accounts.</p>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
                <h3 class="main-heading">Education</h3>
                <ul class="timeline">
                    <li>
                        <div class="timelineUnit">
                            <h4>Bachelor of Information and Communication Technology<span class="timelineDate">2006 - 2010</span></h4>
                            <h5>Hogeschool van Arnhem en Nijmegen</h5>
                            <p>My thesis to conclude my study at the Hogeschool van Arnhem en Nijmegen was about a new platform: LocalLayar. This platform should act as a bridge between the (at that time just introduced) <a href="http://www.layar.com" title="Layar">Layar</a> application and smartphones and computers by creating a webapplication where people could upload there content to be used in the Layar application.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timelineUnit">
                            <h4>Business Administration<span class="timelineDate">2005 - 2006</span></h4>
                            <h5>Twente University</h5>
                        </div>
                    </li>
                    <li>
                        <div class="timelineUnit">
                            <h4>Bachelor of Business Administration, Marketing<span class="timelineDate">2001 - 2005</span></h4>
                            <h5>Hogeschool Enschede</h5>
                            <p>My thesis to conclude my study at the Hogeschool Enschede was a marketingstudy on the attitude of passengers towards their preffered airliner on the route Amsterdam - Paramaribo vice versa. This study was conducted at Surinam Airways, the main airliner in Surinam.</p>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="skills-section">
                <h3 class="main-heading">Programming Skills</h3>
                <ul class="skills">
                    <li>
                        <h4>ASP.NET</h4>
                        <div class="rating" data-rat="7"></div>
                    </li>
                    <li>
                        <h4>C#</h4>
                        <div class="rating" data-rat="6"></div>
                    </li>
                    <li>
                        <h4>LINQ</h4>
                        <div class="rating" data-rat="6"></div>
                    </li>
                    <li>
                        <h4>SQL</h4>
                        <div class="rating" data-rat="5"></div>
                    </li>
                    <li>
                        <h4>Entity Framework</h4>
                        <div class="rating" data-rat="5"></div>
                    </li>
                    <li>
                        <h4>NHibernate</h4>
                        <div class="rating" data-rat="6"></div>
                    </li>
                    <li>
                        <h4>Web Development</h4>
                        <div class="rating" data-rat="7"></div>
                    </li>
                    <li>
                        <h4>HTML & CSS</h4>
                        <div class="rating" data-rat="6"></div>
                    </li>
                    <li>
                        <h4>Javascript & JQuery</h4>
                        <div class="rating" data-rat="5"></div>
                    </li>
                </ul>
                <h3 class="main-heading">Project Management Skills</h3>
                <ul class="skills">
                    <li>
                        <h4>Git</h4>
                        <div class="rating" data-rat="5"></div>
                    </li>
                    <li>
                        <h4>Subversion</h4>
                        <div class="rating" data-rat="4"></div>
                    </li>
                    <li>
                        <h4>TDD</h4>
                        <div class="rating" data-rat="6"></div>
                    </li>
                    <li>
                        <h4>BDD</h4>
                        <div class="rating" data-rat="4"></div>
                    </li>
                    <li>
                        <h4>SCRUM</h4>
                        <div class="rating" data-rat="6"></div>
                    </li>
                </ul>
                <h3 class="main-heading">Content Management Systems</h3>
                <ul class="skills">
                    <li>
                        <h4>Sitecore</h4>
                        <div class="rating" data-rat="5"></div>
                    </li>
                    <li>
                        <h4>Dynamicweb</h4>
                        <div class="rating" data-rat="5"></div>
                    </li>
                    <li>
                        <h4>Umbraco</h4>
                        <div class="rating" data-rat="3"></div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <a href="/Static/Portfolio/CV_Tom_Kamphuis.pdf" target="_blank" class="button transition" onclick="sendAnalyticsData('Download resume')">Download resume as PDF format</a>
        </section>
        <section id="portfolio">
            <ul class="cats-filter" id="portfolio-filter">
                <li><a href="" class="current transition" data-filter="*">All</a></li>
                <li><a href="" class="transition" data-filter=".webforms">Webforms</a></li>
                <li><a href="" class="transition" data-filter=".mvc">MVC</a></li>
                <li><a href="" class="transition" data-filter=".tdd">TDD</a></li>
                <li><a href="" class="transition" data-filter=".bdd">BDD</a></li>
                <li><a href="" class="transition" data-filter=".sitecore">Sitecore</a></li>
                <li><a href="" class="transition" data-filter=".dynamicweb">Dynamicweb</a></li>
            </ul>
            <div class="extra-text">Some of the projects I'm proud with</div>
            <ul id="portfolio-list">
                <li class="mvc tdd">
                    <a href="http://www.scholenvergelijken.nl" title="Scholenvergelijken.nl" class="folio" target="_blank" onclick="sendAnalyticsData('Go to Scholenvergelijken.nl')">
                        <img src="/Static/Portfolio/scholenvergelijken.jpg" alt="">
                        <h2 class="title">Scholenvergelijken.nl</h2>
                        <span class="categorie">MVC / TDD</span>
                    </a>
                </li>
                <li class="mvc tdd">
                    <a href="http://www.tomeniline.nl" title="TomEnIline" class="folio" target="_blank" onclick="sendAnalyticsData('Go to tomeniline.nl')">
                        <img src="/Static/Portfolio/tomeniline.jpg" alt="">
                        <h2 class="title">TomEnIline.nl</h2>
                        <span class="categorie">MVC / TDD</span>
                    </a>
                </li>
                <li class="webforms sitecore">
                    <a href="http://www.dtg.nl" title="DTG" class="folio" target="_blank" onclick="sendAnalyticsData('Go to DTG.nl')">
                        <img src="/Static/Portfolio/dtg.jpg" alt="Image Title">
                        <h2 class="title">DTG</h2>
                        <span class="categorie">Webforms / Sitecore</span>
                    </a>
                </li>
                <li class="mvc tdd bdd sitecore">
                    <a href="http://www.transavia.com" title="Transavia.com" class="folio" target="_blank" onclick="sendAnalyticsData('Go to Transavia.com')">
                        <img src="/Static/Portfolio/transavia.jpg" alt="">
                        <h2 class="title">Transavia.com</h2>
                        <span class="categorie">MVC / Sitecore / TDD / BDD</span>
                    </a>
                </li>
                <li class="mvc webforms tdd">
                    <a href="http://www.funda.nl" title="Transavia.com" class="folio" target="_blank" onclick="sendAnalyticsData('Go to funda.nl')">
                        <img src="/Static/Portfolio/funda.jpg" alt="">
                        <h2 class="title">Funda</h2>
                        <span class="categorie">Webforms / MVC / TDD</span>
                    </a>
                </li>
                <li class="webforms dynamicweb">
                    <a href="http://www.designit.nl" class="folio" title="Design IT" target="_blank" onclick="sendAnalyticsData('Go to designit.nl')">
                        <img src="/Static/Portfolio/designit.jpg" alt="">
                        <h2 class="title">Design IT</h2>
                        <span class="categorie">Webforms / Dynamicweb</span>
                    </a>
                </li>
                <li class="webforms dynamicweb">
                    <a href="http://www.geesa.nl" class="folio" title="Geesa" target="_blank" onclick="sendAnalyticsData('Go to Geesa.nl')">
                        <img src="/Static/Portfolio/geesa.jpg" alt="">
                        <h2 class="title">Geesa</h2>
                        <span class="categorie">Webforms / Dynamicweb</span>
                    </a>
                </li>
                <li class="webforms dynamicweb">
                    <a href="http://www.wolky.com" class="folio" title="Wolky" target="_blank" onclick="sendAnalyticsData('Go to Wolky.com')">
                        <img src="/Static/Portfolio/wolky.jpg" alt="">
                        <h2 class="title">Wolky</h2>
                        <span class="categorie">Webforms / Dynamicweb</span>
                    </a>
                </li>
            </ul>
        </section>
        <section id="contact">
            <div id="map"></div>
            <div class="contact-info">
                <h3 class="main-heading"><span>Contact info</span></h3>
                <ul>
                    <li>Kerkstraat 22, 7641BT Wierden, The Netherlands<br /><br /></li>
                    <li>Email: tom@tomkamphuis.nl</li>
                    <li>Phone: on request</li>
                    <li>Website: www.tomkamphuis.nl</li>
                </ul>
            </div>
            <div class="contact-form">
                <h3 class="main-heading"><span>Let's keep in touch</span></h3>
                <div id="contact-status"></div>
                <form action="" id="contactform">
                    <p>
                        Html.LabelFor(m => m.Name)
                        Html.TextBoxFor(m => m.Name, new { @@class = "input" })
                    </p>
                    <p>
                        Html.LabelFor(m => m.Email)
                        Html.TextBoxFor(m => m.Email, new { @@class = "input" })
                    </p>
                    <p>
                        Html.LabelFor(m => m.Message)
                        Html.TextAreaFor(m => m.Message, new { cols = "88", rows = "6", @@class = "textarea" })
                    </p>
                    <input type="submit" name="submit" value="Send your message" class="button transition" onclick="sendAnalyticsData('Send contact form')">
                </form>
            </div>
        </section>
    </section>
    <footer>
        <div class="copyright">Copyright © @DateTime.Now.Year Tom Kamphuis</div>
    </footer>
</section>