<section id="container" ng-app="tkServices">
    @Html.Partial("_HeaderPartial")
    <section id="content" ng-view ng-init="selectSlide('profile')"></section>
    @Html.Partial("_FooterPartial")
</section>
@section Scripts {
    @Scripts.Render("~/Static/JS/App/Controllers.js")
}