<header>
    <div id="logo">
        <h2>TOM KAMPHUIS</h2>
        <h4>SOFTWARE ENGINEER & WEBDEVELOPER</h4>
    </div>
    <ul class="socialicons">
        <li class="socials-text">More about me</li>
        <li><a href="http://tomkamphuis.blogspot.com" class="transition" title="Blogspot" target="_blank" onclick="sendAnalyticsData('Go to Blogspot')">&#x35;</a></li>
        <li><a href="https://www.github.com/tomkamphuis" class="transition" title="Github" target="_blank" onclick="sendAnalyticsData('Go to Github')">&#x33;</a></li>
        <li><a href="https://www.linkedin.com/in/tomkamphuis" class="transition" title="LinkedIn" target="_blank" onclick="sendAnalyticsData('Go to LinkedIn')">&#xe600;</a></li>
        <li><a href="https://twitter.com/tomkamphuis" class="transition" title="Twitter" target="_blank" onclick="sendAnalyticsData('Go to Twitter')">&#x2c;</a></li>
        <li><a href="https://www.facebook.com/tom.kamphuis" class="transition" title="Facebook" target="_blank" onclick="sendAnalyticsData('Go to Facebook')">&#x2a;</a></li>
    </ul>
</header>
